.card-whole{
    position: sticky;
    top: 80px;
    background-color: #f4ca1e;
    border: 5px solid #000000;
    height: 264px;
    border-radius: 16px;
    margin-top: 80px;
    width: 312px;
    margin-left: auto;
    margin-right: auto;
}