.card-detail{
    width: 200px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 16px;
    list-style: none;
    list-style-type: none;
    background-color: #f4ca1e;

}

p{
    border: 5px solid black;
    border-radius: 32px;
    padding: 8px;
    background-color: #0b31db;
    color: aliceblue;
}

.character-image{
    width: 150px;
    height: 180px;
    margin: 25px;
}

.character-name{
    font-size: 24px;
    text-align: center;
    font-family: Simpsonsfont;
}

