.card-detail{
    width: 200px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 16px;
    list-style: none;
    list-style-type: none;
    background-color: yellow;

}



p{
    border: 5px solid black;
    border-radius: 32px;
    padding: 8px;
}

.character-image{
    width: 150px;
    height: 180px;
}

.character-name{
    font-size: 24px;
    font-family: Simpsonfont;
}

