.gameformWrapper {
    display: flex;
}

.card-detail {
    width: 200px;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 30px;
    padding: 16px;
    list-style: none;
    list-style-type: none;
    background-color: #f4ca1e;
    margin: 0px 10px;
}

p {
    border: 5px solid black;
    border-radius: 32px;
    padding: 8px;
    background-color: #0b31db;
    color: aliceblue;
}

.cardbutton {
    border: 5px solid black;
    border-radius: 32px;
    padding: 8px;
    background-color: #0b31db;
    color: aliceblue;
}


.character-image {
    width: 150px;
    height: 180px;
    margin: 25px;
    border-radius: 30px;
}

.character-name {
    font-size: 24px;
    text-align: center;
    font-family: Simpsonsfont;
}

.trumpCardBack {
    width: 200px;
    max-width: 80%;
    border: 5px solid black;
    border-radius: 30px;
    padding: 16px;
    list-style: none;
    list-style-type: none;
    background-color: #f4ca1e;
    margin: 0px 10px;
}