#gameplayWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.gridComponent {
    display: flex;
    padding: 10px
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00BFFF;
    width: 600px;
    max-width: 80%;
    height: 600px;
    max-height: 80%;
    border-radius: 25px;
    border: 8px solid #FFD90F;


}

.modal .modalText {
    color: #FFD90F;
    text-decoration: solid;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding: 8px 0;
    line-height: 3;

}

.modalbuttons {
    display: flex;
    justify-content: center;
}

.modalbutton {
    background-color: #FFD90F;
    color: black;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    margin-left: 20px;
}

.modal-dialog {
    pointer-events: all;
}