.navbar{
    display: flex;
    justify-content: space-evenly;
}

.nav-link{
    border: 5px solid black;
    border-radius: 30px;
    padding: 16px;
    list-style: none;
    list-style-type: none;
    background-color: #f4ca1e;
    width: 10%;
    text-align: center;
    font-size: 24px;
}