


h1 {
    font-style: Simpsonfont;
    src: url("../images/Simpsonfont.ttf");
    font-size: xx-large;
    text-align: center;
}


button {
    font-family: Simpsonfont;
    src: url("../images/Simpsonfont.ttf");
    background-color: yellow ;
    /* border-radius: 50%; */
    text-align: center;
    color: black;
    width: 20%;
    height: 100%;
    font-size: x-large;
    margin-right: 10%;

    /* margin-right: 5%;
    margin-left: 10%;
    /* height: 80px;
    line-height: 160px;  
    width: 300px;   */
    /* font-size: 2em; */
    font-weight: bold;
    border-radius: 60%;
    /* -ms-flex-align: center; */
    
 
    
}

a:link {
    text-decoration-line: none;
    text-decoration: none;
   
  }
a:visited {
    text-decoration-line: none;
}

