body {
    background-image: url("./images/Springfield_background.png");
    font-family: Simpsonfont;
    margin: 0;
    src: url("./images/simpsonfont/Simpsonfont\ DEMO.otf");

}


.button {
    background-color: yellow ;
    text-align: center;
    color: white;
    position: relative;

}

